body {
    background-color: white !important;
}

.navbar {
    background-color: rgba(161, 0, 0, 0.9);
    /* color: white !important; */
    padding: 1rem !important;
}

.navbar-text {
    margin-right: 2rem !important;
    /* color: white !important; */
}

.logo_navbar {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 4rem !important;
    margin-left: 2rem !important;
    /* color: white !important; */
}

#container {
    background-color: whitesmoke !important;
}

.my-list {
    padding: 0 2rem;
}

.std-link {
    color: rgba(121, 52, 52, 0.9) !important
}